body {
  background: url('../img/coffee_background.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:right; ;
}

.profile-pic{
    width: 80%;
}

#tabformat a{
  color: black;
  font-weight: bold;
}

.footspace {
  padding-top: 0.5em;
}

.footspace a{
  color: black;
  padding-right: 0.25em;
}

.socicons a{
  color: black;
  padding-right: 2em;
}
/*.git-rotate{
  color: black;
}
.git-rotate:hover{
  color: red;
}*/
