<div class="col-md-3 col-md-offset-1 col-xs-4">
    <img>
</div>
<div class="col-md-7 col-xs-7" style="opacity: 0.8">
    <br>
    <br>
    <div class="panel panel-default">
        <h1><strong>Welcome to my site</strong></h1>
    </div>
    <div class="panel panel-body">
        <p>My name is Matthew Oxberry. I graduated from Temple University's College of Science and Technology with a degree in
            Information Science and Technology. This is my personal site where I like to display some of the skills I have learned as well as my interests.</p>
            <br/>
<div class="col-xs-7 col-sm-4 col-sm offset-4 col-md-4 col-md-offset-4 soicons">
    <div class="col-sm-6 col-md-6">
        <a href="https://github.com/MattOxberry" target="_blank"><span class="fa fa-4x fa-github"></span></a>
        <a href="#" target="_blank"><span class="fa fa-4x fa-linkedin-square"></span></a>
    </div>