<div class="col-md-3 col-md-offset-1 col-xs-4">
  <img src="assets/images/MPO_Head.jpg" class="profile-pic img-rounded" alt="Profile Picture">
</div>
<div class="col-md-7 col-md-xs-7"> 
  <div class="panel panel-body">
    <p>
      My name is Matthew Oxberry. I graduated from Temple University with a degree in
      Informaiton Science and Technology. This was created to show off some of the skills I have learned
      over the years.
    </p>
    <br/>
    <div class="col-xs-7 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
      <div class="col-sm-6 col-md-6">
        <a href="https://github.com/MattOxberry" target="_blank"><span class="fa fa-3x fa-github"></span></a>
      </div>
      <div class="col-sm-6 col-md-6">
        <a href="http://www.linkedin.com/in/matthew-oxberry-32900110a" target="_blank"><span class="fa fa-3x fa-linkedin-square"></span></a>
      </div> 
  </div>
</div>