<div class="navbar navbar-default" style="background-color: rgba(211,211,211,0.8);">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="dropdown-menu"></span>
            </button>
            <a class="navbar-brand" href="#" style="color: black; font-size: 2em; font-weight: bolder">MPO</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right" id="tabformat">
                <li><a href="#">Resume <span class="fa fa-file-pdf-o"></span></a></li>
                <li><a href="#">About Me</a></li>
                <li><a href="#">Home</a></li>
            </ul>
        </div>
    </div>
</div>